/conclave.exe
/conclave
/build/
/dist/
/.conclave/
*.log
.env
.env.*
config.local.*

# desktop app
/cmd/conclave-desktop/build/bin/
/cmd/conclave-desktop/frontend/node_modules/
/cmd/conclave-desktop/frontend/dist/*
!/cmd/conclave-desktop/frontend/dist/.gitkeep
/cmd/conclave-desktop/frontend/tsconfig.tsbuildinfo
/cmd/conclave-desktop/frontend/package.json.md5
